<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Home </title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body class =" bg-green-500">
    <div class="absolute my-4 mx-8 top-0 right-0">
      <a href="{{url_for('logout')}}">
      <button class="w-full text-2xl bg-green-400 hover:bg-green-600 text-white font-bold py-4 px-8 rounded"> Log out </button>
    </div>
      </a>
    </button>

  
 <div class="flex flex-col items-center justify-center mb-40">
    <p class="font-sans text-white text-5xl font-semibold filter drop-shadow-sm mt-4 mb-10"> Home </p>
    <a href="http://google.com" target="_blank">
    <button class="w-full text-2xl bg-green-400 hover:bg-green-600 text-white font-bold py-8 px-16 rounded"> Get my sheet </button>
    </a>
    {% if not etsy_key %}
    <div class="mt-10">
      <a href={{etsy_access}} target="_blank">
      <button class="w-full text-2xl bg-red-400 hover:bg-green-600 text-white font-bold py-8 px-16 rounded">
        Authorize Etsy 
      </button>
      </a>
      <form method = "POST">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required 
                      name="etsy-verif" type="text" placeholder="etsy-verif">
        <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
          name="username" type="button">
          Submit
               </button>
      </form>
    </div>
    {% endif %}

 </div>
</body>
</html>
