<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Ad Spend App </title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body class =" flex items-center justify-center h-screen bg-green-500">
 <div class="flex flex-col items-center justify-center mb-40">
    <p class="font-sans text-white text-5xl font-semibold filter drop-shadow-sm mb-10"> Page not ready yet! </p>
    <p class="font-sans text-white text-4xl font-semibold filter drop-shadow-sm mb-10"> (We're working very hard!) </p>

 </div>


</body>

</html>
